body {
    background-color: #f9f9f9; /* Slightly lighter background color */
    color: #444; /* Darker text color for better contrast */
    font-family: 'Roboto', sans-serif;
}

.brand {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: #3498db; /* Softer blue color for the brand */
}

.red-o {
    color: #e74c3c; /* Softer red color for emphasis */
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff; /* White background color for cards */
    color: #555; /* Slightly darker text color for better contrast on white */
}

.dark-bg {
    background-color: #dcdcdc; /* Lighter gray background color for masthead text */
}

.main-bg {
    background-color: #f9f9f9;
}

.card {
    border: 2px solid #ddd;
    background-color: #fff;
    color: #555;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #3498db;
}

.author {
    color: #3498db;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #dcdcdc;
    color: #444;
    text-align: center;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #dcdcdc;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #3498db;
}

.post-link:hover,
.page-link {
    color: #e74c3c;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #777;
}

.btn-signup {
    background-color: #3498db;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #3498db;
}

.link {
    color: #3498db;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #444;
    text-decoration: underline;
}

.btn-like {
    color: #e74c3c;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e74c3c;
    background: transparent;
    border: none;
}
