{% extends 'base.html' %}

{% block content %}

<!-- Box shown for 403 error on Gamer Insight -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>403 error</h1>
            <hr class="home-break">
            <h3 class="mt-3">Forbidden</h3>
            <br>
            <p>Access to the requested resource on Gamer Insight is forbidden.</p>
            <a href="{% url 'home' %}" class="btn btn-outline-dark d-inline">Home</a>
        </div>
    </div>
</div>

{% endblock %}
