{% extends 'base.html' %}

{% block content %}

    <h1>{{ game.title }}</h1>

    <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- The featured image URL goes in the src attribute -->
        {% if "placeholder" in game.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
        {% else %}
        <img src=" {{ game.featured_image.url }}" width="100%">
        {% endif %}
    </div>

    <p><strong>Developer:</strong> {{ game.developer }}</p>
    <p><strong>Release Date:</strong> {{ game.release_date }}</p>
    <p><strong>Rating:</strong> {{ game.rating }}</p>

    <hr>

    <h2>Description</h2>
    <p>{{ game.description|safe }}</p>

    <p><a href="{% url 'game_detail' pk=game.pk %}">View Details</a></p>

    <!-- Add more details as needed -->

{% endblock %}
